@import "tailwindcss";

@font-face {
  font-family: "Awesome Serif";
  src: url("/fonts/awesome-serif/awesomeserif-regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Awesome Serif";
  src: url("/fonts/awesome-serif/awesomeserif-lightregular.otf")
    format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Fellix";
  src:
    url("/fonts/fellix/fellix-regular.woff2") format("woff2"),
    url("/fonts/fellix/fellix-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Fellix";
  src: url("/fonts/fellix/fellix-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Fellix";
  src: url("/fonts/fellix/fellix-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Fellix";
  src: url("/fonts/fellix/fellix-semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@theme {
  --font-heading: "Awesome Serif", serif;
  --font-body: "Fellix", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}
